.specification {
	max-width: 670px;
	margin: 10px 0;
	padding: 0;
}

.specification dt,dd {
	width: 340px;
	float: left;
	margin: 0;
	padding: 5px 0 7px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.specification dt {
	clear: left;
	width: 150px;
	margin-right: 12px;
	padding-right: 0;
	text-align: right;
	opacity: 0.7;
}

.specification:after,.wrapper:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.smaller-text {
	font-size: 0.8em;
}

.form input[type=text] {
	width: 200px;
}

.panelContent form {
	margin: 10px;
	border: none;
}

#infoTable td {
	padding: 0 30px 5px 0;
}
#activeDropdown span.k-dropdown {
	width: 200px;
}

#editTab {
	float: right;
}
#editTab > .k-dropdown {
	width: 200px;
}
#editRoutesForm .k-grid-toolbar {
	height: 30px;
	font-size: 0.8em
}
.li-blank a {
	color: #A82A15;
	text-decoration: none;
}
.li-block a {
	color: #A82A15;
	text-decoration: none;
}