.k-autocomplete{
 	width: 300px;
}
#pathSearchbox {
	font-size: .999em;
	float: left;
	text-align: left;
}

#pathTemplateContainer {
	margin-top: 5px;
}
#pathTemplateContainer h3 {
	padding: 10px 0 10px 0;
}
#pathTemplateContainer a {
	color: #A82A15;
	text-decoration: none;
}
#infoWindow {
	width: 300px;
	height: 200px;
}

#map {
	width: 100%;
	height: 500px;
	margin-top: 5px;
}

#pathSearchTable td>* {
	display: table-cell;
	vertical-align: middle;
}
#pathSearchTable td {
	padding-right: 10px;
}

#pathSearachTable {
	display: table;
}

#pathType {
	width: 160px
}

#maxLength {
	width: 25px;
}
#typeField .k-dropdown {
	width: 220px;
}
