.product-view {
	float: left;
	width: 32%;
	margin: 3px;
	padding: 3px;
	-moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.product-view dl {
	margin: 10px 0;
	padding: 0;
	min-width: 0;
 	overflow:hidden; 
}

.product-view dt,dd {
	float: left;
	margin: 0;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.product-view dd {
	width: 60%;
}
.product-view dt {
	
	padding: 0 5px 0 15px;
	text-align: right;
	opacity: 0.6;
	width: 30%;
}

.k-listview {
	border: 0;
	padding: 0;
	min-width: 0;
}

.k-listview:after,.product-view dl:after {
	display: block;
	height: 0;
	
	visibility: hidden;
}

.k-toolbar,#listView,.k-pager-wrap {
	margin: 0 auto;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
}
.edit-buttons {
	text-align: right;
	padding: 5px;
	min-width: 100px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.ui-map-icon {
	background-image: url('../../images/map_symbol.png') !important;
}
.ui-list-icon {
	background-image: url('../../images/list_symbol.png') !important;
}
#map {
	width: 100%;
	height: 550px;
}
#pager {
	float:left;
	width: 98%;
	display:inline-block;
}
#listView {
	width: 100%	;
}

#displayRadio {
	float: right
}
#displayRadio label {
	width: 35px;
}
